section#testimonials.container

  h3.title
    | what do other people say 
    strong blau
    |  is?
  
  p
    | Here's what other people who played 
    strong blau
    |  say it's like:
  
  each comment in sections[1].teamTestimonials
    blockquote
      h5
        em
          | #{comment.opinion}
      p.float-right
        | - #{comment.author.name}, #{comment.author.role} @ 
        a(href=comment.link, target='blank')
          strong #{comment.author.company}
  
  p
    | Err... Maybe designers and developers from our team are kinda suspect to talk about it 😁
  
  each comment in sections[1].playersTestimonials
    blockquote
      h5
        em
          | #{comment.opinion}
      p.float-right
        | - #{comment.author.name}, #{comment.author.role} @ 
        a(href=comment.link, target='blank')
          strong #{comment.author.company}